$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;



// $darkPurpleColor: #5C2ECE;
// $purpleColor: #8041F9;
$whiteColor: #ffffff;
$defaultText: #0D3146;
$redColor: #E15353;
$blackColor: #000000;
$brownColor: #af6337;

$backgroundColor06: rgba(13, 49, 70, 0.6);
$backgroundColor09: rgba(13, 49, 70, 0.9);
