@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, #0d3146 0%, rgba(13, 49, 70, 0) 100%);
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.1));
  z-index: 101;
  @media (max-width: 1100px) {
    height: 50px;
    & .container {
      height: 100%;
      & .row {
        height: 100%;
      }
    }
  }
  &-logo {
    display: flex;
    width: 190px;
    @media (min-width: $breakpoint-xxl) {
      width: 220px;
    }
    @media (max-width: 1100px) {
      width: 160px;
    }
  }
  &-btn {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    padding: 15px 30px;
    background: $defaultText;
    border: 2px solid $defaultText;
    color: $whiteColor;
    @include transition(.3);
    cursor: pointer;
    @media (min-width: $breakpoint-xxl) {
      font-size: 18px;
    }
    @media (max-width: 1100px) {
      border-color: #fff;
      // width: 100%;
    }
    &:hover {
      background: transparent;
      border: 2px solid $whiteColor;
    }
  }
}
