@import "./#src/scss/abstracts/mixins.scss";
@import "./#src/scss/abstracts/variables.scss";


.navbar {
  display: flex;
  align-items: center;
  @media (max-width: 1100px) {
    position: fixed;
    width: 100%;
    height: 100vh;
    right: -120vw;
    top: 0;
    background: $defaultText;
    flex-direction: column;
    justify-content: space-between;
    @include transition(.3);
    &.active {
      right: 0;
    }
  }
}

.menu {
  margin-right: 20px;
  @media (max-width: 1100px) {
    align-items: center;
    justify-content: center;
    // height: 100%;
    flex-direction: column;
    width: 100%;
    margin: 50px 0;
  }
  &-item {
    margin: 0 10px;
    & a {
      display: block;
      margin: 27px 0;
      position: relative;
      &:before {
        content: '';
        background: $redColor;
        width: 0%;
        height: 1px;
        position: absolute;
        bottom: -1px;
        left: 0;
        @include transition(.3);
      }
      &:hover {
        &:before {
          width: 100%;
          @media (max-width: 1100px){
            width: 0;
          }
        }
      }
    }
  }
}


.hamburger {
  display: none;
  width: 60px;
  margin-right: -15px;
  height: 100%;
  position: absolute;
  z-index: 99;
  right: 15px;
  cursor: pointer;
  @media (max-width: 1100px) {
    display: block;
  } 
  & span {
    position: absolute;
    right: 15px;
    display: block;
    width: 25px;
    background: $whiteColor;
    height: 3px;
    border-radius: 10px;
    @include transition(.3);
  }
  & span:nth-child(1) {
    top: calc(50% - 8.5px);
  }
  & span:nth-child(2) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(3) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(4) {
    top: calc(50% + 3.5px);
  }
  &.open {
    & span:nth-child(1) {
      top: calc(50% - 2.5px);
      width: 0%;
      right: 50%;
    }
    & span:nth-child(2) {
      transform: rotate(45deg);
    }
    & span:nth-child(3) {
      transform: rotate(-45deg);
    }
    & span:nth-child(4) {
      top: calc(50% - 2.5px);
      width: 0;
      right: 50%;
    }
  }
}